.searchResults_section {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.searchResults_section h1 {
    margin: 1rem 0;
}

.result_item {
    display: grid;
    grid-template-columns: 94px auto;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 10px -4px gray;
}

.image_container {
    min-height: 140px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #d3d3d3;
}

.image_container img {
    height: inherit;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    transition: color .15s;
    font-size: 14px;
}

.releaseDate {
    margin-bottom: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: #2f4f4f;
}

.overview {
    display: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.title:hover, .know_more:hover {
    color: gray;
}

.no_results {
    min-height: 400px;
    text-align: center;
}

@media (min-width: 350px) {
    .overview {
        display: block;
    }
}


