.movieDetails_section {
    width: 95%;
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.movieDetails_hero {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    padding: 2rem;
}

.details {
    display: grid;
    grid-template-columns: auto auto;
    color: #fff;
    padding: 1rem;
}

.details .image_container {
    width: 300px;
    height: 450px;
}

.about_movie {
    padding: 2rem 1rem;
    text-shadow: 1px 1px black;
}