.searchForm {
    width: 95%;
    max-width: 750px;
    display: grid;
    grid-template-columns: 75% auto;
    margin: 2rem auto;
}

.searchForm input {
    padding: 12px;
    border: none;
    background-color: #e6e4e4;
}

.searchBtn {
    background-color: #001369;
    color: #fff;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
}

@media (min-width: 400px) {
    .searchForm {
        grid-template-columns: 80% auto;
    }
}

@media (min-width: 768px) {
    .searchForm {
        grid-template-columns: 85% auto;
    }
}