.trendingShows_section {
    max-width: 1300px;
    margin: 2rem auto;
    padding: 1rem;
    position: relative;
}

.row {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.image_container {
    width: 150px;
}

.image_container img {
    border-radius: 10px;
}

.card_text {
    padding: 0.5rem;
}

.section_title {
    margin-bottom: 1rem;
}

.buttons_container {
    display:flex;
    gap: 10px;
    margin-bottom: 1rem;
}