.row {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.text_small {
    font-size: 14px;
    font-weight: 500;
}

.details_section {
    max-width: 2000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.article_container {
    background-color: rgba(0, 0, 0, .65);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 95%;
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    color: #fff;
    padding: 2rem 0;
}

.details .image_container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_container img {
    max-width: 300px;
    border-radius: inherit;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main_title {
    font-size: 1.5rem;
}

.release_year {
    font-weight: normal;
    color: #ccc;
}

.button_container {
    margin-bottom: .5rem;
}

.play_button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    margin: auto;
    transition: .15s;
}

.play_icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #fff;
    transform: rotate(90deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: .15s;
}

.play_button:hover {
    color: #ccc;
}

.play_button:hover .play_icon {
    background-color: #ccc;
}

.tagline {
    font-size: 1.25rem;
    color: #ccc;
    margin-bottom: 1rem;
}

.recommendations_container {
    width: 95%;
    max-width: 1300px;
    margin: auto;
}

.rec_heading {
    margin: 2rem 0;
    color: #000029;
}

.recommendations_container h1 {
    margin-bottom: 1rem;
    overflow: hidden;
}

.image_box {
    width: 250px;
    min-height: 139px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.image_box img {
    max-width: 100%;
    border-radius: inherit;
    transition: 0.4s;
}

.image_box img:hover {
    transform: scale(1.1);
}

.recArticle {
    margin-bottom: 1rem;
}

.recArticle_text {
    font-weight: 500;
}

/* 
===============
Media queries
=======
*/

@media (min-width: 768px) {
    .details {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        padding: 0;
    }

    .main_title {
        font-size: 2rem;
    }

    .image_container img {
        width: auto;
    }

    .content {
        text-align: left;
         padding: 2rem 1rem;
    }

    .play_button {
        margin: unset;
    }
}

@media (min-width: 1440px) {
    .details {
        max-width: 1400px;
    }
}