.videoPlayer_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 1rem 10rem;
    margin: auto;
    background-color: #555;
    z-index: 2;
    display: none;
}

.show {
    display: flex;
}

.videoPlayer_header {
    display: flex;
    padding: 8px 1rem;
}

.videoPlayer_container button {
    margin-left: auto;
    cursor: pointer;
}

.videoPlayer_container .videoPlayer {
    border: 1px solid blue;
    flex-grow: 1;
}