.trendingMovies_section {
    max-width: 1300px;
    margin: 2rem auto;
    padding: 1rem;
    position: relative;
}

.buttons_container {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.section_title {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.image_container {
    width: 150px;
}