.facts {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.releaseDate,
.genres {
    margin-bottom: .5rem;
}

.genres {
    list-style-type: none;
    display: none;
    border: 1px solid #fff;
    border-radius: 4px;
}

.listItem {
    flex-grow: 1;
    padding: 0 4px;
}

.listItem + .listItem {
    border-left: 1px solid #fff;
}

.listItem p {
    font-size: 12px;
}

/* 
==============
Media Queries
======
*/

@media (max-width: 320px) {
    .facts {
        display: block;
    }

    .listItem {
        border: none;
    }
}


@media (min-width: 768px) {
    .facts {
        justify-content: unset;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .genres {
        display: flex;
    }

    .releaseDate,
    .genres {
        margin-bottom: 0;
    }
}