.details_section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.article_container {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    width: 95%;
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    color: #fff;
    border: 1px solid white;
}

.details .image_container {
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_container img {
    border-radius: inherit;
}

.content {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play_button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    gap: 10px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

.play_icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #fff;
    transform: rotate(90deg);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.play_button:hover {
    color: #ccc;
}

.play_button:hover .play_icon {
    background-color: #ccc;
}

@media (min-width: 768px) {
    .details {
        display: grid;
        grid-template-columns: auto auto;
    }
}